<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Maurices Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Maurices Blog</a></h1>
    </div>

      <div>
        <p>published: 24.03.2019</p>
        <h2><a href="">My first post</a></h2>
        <p>My first post here. The quick brown dogs etc.</p>
      </div>

      <div>
        <p>published: 24.03.2019, 20:47</p>
        <h2><a href="">My second post</a></h2>
        <p>This is my second post. What was it that you said the quick brown dogs did?</p>
      </div>

      <div>
        <p>published: 24.03.2019, 20:51</p>
        <h2><a href="">My third post</a></h2>
        <p>This is my third post. Sorry it was the foxes and not the dogs and they jumped over the lazy dogs</p>
      </div>



    <p>Hi there</p>
    <p>It works</p>
  </body>
</html>
